# macOS files
.DS_Store

# Backup and swap files
*~
*.swp
*.swo
*.swn

# Vim swap and undo files
*.bak
*.undo

# Python cache
__pycache__/

# Ignore .git directories inside plugin folders if not using submodules
.tmux/plugins/**/.git/

# Neovim plugin directories (e.g., plugin managers)
nvim/.local/
nvim/undo/
nvim/session.vim

# Tmux Plugin Manager data
.tmux/plugins/tpm/

# Environment and secret files
.env
.env.*

# Log files
*.log

# Ignore any other cache directories
cache/
raycast/config.json
