[user]
	email = afras@hotmail.no
	name = Afras Mansoor
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	excludesfile = /Users/afras/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
